@import "../../style/vars.scss";
.nav-item {
  display: flex;
  gap: 8px;
  background-color: $accentTextColor;
  padding: 8px 14px;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s linear;
  &:hover {
    box-shadow: 2px -1px 7px -3px rgba(66, 68, 90, 1);
  }
  .nav-img {
    img {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}
.active {
  background-color: $accentBgColor;
}
