@import "../../style/vars.scss";

.registration-wrapper {
  background-color: $bgColor;
  padding: 20px 16px;
  .registration-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
    font-family: "Nunito", sans-serif;
  }
  .registration-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 350px;
    margin: auto;
    .registration-inner {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 15px;
      input {
        border-radius: 12px;
        border: 1px solid $btnColor;
        outline: none;
        padding: 12px;
        font-size: 12px;
      }
      input::placeholder {
        color: $shadowColor;
      }
    }

    label {
      margin-left: 0;
      span {
        font-family: "Nunito", sans-serif;
        font-size: 12px;
        padding: 0;
      }
    }
    .registration-date {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: rgba(0, 0, 0, 0.8);
      span {
        padding-left: 12px;
      }
      input {
        color: $shadowColor;
      }
    }
    input[type="submit"] {
      font-family: "Nunito", sans-serif;
      margin-top: 15px;
      background-color: $secondaryaccentTextColor;
      color: $accentTextColor;
      font-size: 16px;
      padding: 12px 0;
      height: auto;
      border: none;
      outline: none;
      border-radius: 12px;
      cursor: pointer;
      transition: background-color 0.3s linear;
      &:hover {
        background-color: $secondaryaccentHoverColor;
      }
    }
    .errorField {
      font-size: 12px;
      color: $secondaryaccentTextColor;
    }
  }
}
